

.btn-oval-dark{
    width: .9rem;
    height: .9rem;
    border:none;
    outline: none;
    border-radius: 50%;
    background-color: $dark;
}

.btn-oval-dark{
    width: .9rem;
    height: .9rem;
    border:none;
    outline: none;
    border-radius: 50%;
    background-color: $dark;
}
.btn-oval-purple{
    width: .9rem;
    height: .9rem;
    border:none;
    outline: none;
    border-radius: 50%;
    background-color: $purple;
}

.btn-oval-purple{
    width: .9rem;
    height: .9rem;
    border:none;
    outline: none;
    border-radius: 50%;
    background-color: $purple;
}
.btn-oval-lacivert{
    width: .9rem;
    height: .9rem;
    border:none;
    outline: none;
    border-radius: 50%;
    background-color: $lacivert;
}

.btn-oval-sari{
    width: .9rem;
    height: .9rem;
    border:none;
    outline: none;
    border-radius: 50%;
    background-color: $sari;
}
.btn-oval-beyaz{
    width: .9rem;
    height: .9rem;
    border:1px solid #000;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
}
