.dark-siyah {
    background-color: #343a40 !important; /* Siyah arka plan */
}
.dark-siyah h2{
    color: #fff !important;
}

.dark-siyah .card {
    background-color: #3c3e3f !important; /* Koyu kart arka planı */
    color: #fff;
}









.dark-mor {
    background-color: #6f42c1 !important;
    color: #fff;
}
.dark-mor h2{
    color: #fff !important;
}

.dark-mor .card {
    background-color: #8c68d1 !important;
    color: #fff;
}

.dark-lacivert {
    background-color: #001f3f !important;
    color: #fff;
}
.dark-lacivert h2{
    color: #fff !important;
}

.dark-lacivert .card {
    background-color: #003366 !important;
    color: #fff;
}


.bg-sari {
    background-color:$sari;
}
.bg-sari h2{
    color: #000 !important;
}

.bg-sari .card {
    background-color:#FF9A00  !important;
    color: #fff;
}
